// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');


@font-face {
  font-family: 'Cairo';
  src: font-url('Cairo.ttf') format('ttf');
}

@font-face {
  font-family: 'Lobster';
  src: font-url('Lobster.otf') format('otf');
}

// Define fonts for body and headers
$body-font: 'Cairo';
$headers-font: 'Lobster';

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
