.column {
  border-right: 1px solid #ccc; /* Adding a vertical separation line */
  padding: 10px; /* Adding some padding for spacing */
}

.offers {
  color: white;
  background-color: black;
  border-radius: 10px ;
}
