/* Styles for chat containers */
.chat-container {
  display: flex;
  align-items: flex-start;
  margin: 20px;
  position: relative; /* Ajoutez cette ligne */
}

/* Styles for avatars */
.avatar_question {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Styles for question bubbles (including arrow) */
.bubble_question {
  width: calc(100% - 60px); /* Adjust the width to accommodate the avatar */
  padding: 20px;
  background-color: #f9f7dd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative; /* Ajoutez cette ligne */

  /* Add the arrow styles here */
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f9f7dd;
    left: -7px;
    top: 32%;
    transform: translateY(12%);
    z-index: 1;
  }
}

/* Styles for answer bubbles */
.bubble_answer {
  width: 100%;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 100px; /* Add margin to separate answers */
  position: relative; /* Ajoutez cette ligne */
}


.chatroom-label {

  &:hover {
    background-color: $white;
    color: $red;
    font-family: 'Lobster';
    border-radius: 5px;
  }

  label {
    padding: 1em;
    color: white;
    background-color: $red;
    font-family: 'Lobster';
    border-radius: 5px;
    cursor: pointer;
  }
}

.chatroom-input:checked + label {
  background-color: $white;
  color: black
}
