.door {
  top: 50px;
  height: calc(100vh - 80px);
  width: 100%;
  position: absolute;
}
.door-left {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dpjincxmo/image/upload/v1693816783/door_dn0u67.png);
  background-size: 200% 100%;
  // background-position: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 50%;
  //transform: scale(0.8);
  z-index: 1;
}

.door-right {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dpjincxmo/image/upload/v1693816783/door_dn0u67.png);
  background-size: 200% 100%;
  background-position: -100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  right: 0;
  //transform: scale(0.8);
  z-index: 1;
}

.open-left {
  transform-origin: left center;
  transition: transform 3s ease-in;
  transform: translateX(-110%);
}

.open-right {
  transform-origin: right center;
  transition: transform 3s ease-in;
  transform: translateX(100%);
}

.door-container {
  text-align: center;
}

.hide {
  display: none;
}
