// Import page-specific CSS files here.
@import "home";
@import "door";


body {
  font-family: $body-font;
  padding-bottom: 100px;
  padding-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
}
.body {
  background-image: url('bcimg.png');
  background-size: cover;
}

.home-page {
  background-color: #ffffff !important; /* Utilisez la couleur que vous voulez */
  background-size: cover;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 50px;
  min-height: calc(100vh - 80px);
  min-width: 100vw;
  // margin-bottom: 100px;
}

h1 {
  color: white;
}


