// Import page-specific CSS files here.
@import "home";
@import "door";
@import "chatroom";
@import "booking";

body {
  font-family: $body-font;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.body {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url('bcimg.png');
  background-size: cover;
}

.caviste-page {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('cave.jpg');
  background-size: cover;
  position: center;
}

h1 {
  color: white;
  text-transform: uppercase;
}

.white-text {
  color: white !important;
}

.validates {
  width: 30%;
  // height: 80px;
  background-color: $white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.align-text{
  padding-top: 10px;
  padding-left: 60px;
}
