<h1>Ici la liste des bookings par le user </h1>

<div class = "row offers">
  <div class = "col-md-4 column" >
    <p>card 1</p>
  </div>
  <div class = "col-md-8 column d-flex">
      <div class="card">
        <p>card 2</p>
      </div>
      <div class="card">
        <p>card 3</p>
      </div>
      <div class="card">
        <p>card 4</p>
      </div>
  </div>
</div>
