
<div class="card-selection" style="width: 18rem;">
  <img src="https://m3.vinsetmillesimes.com/91691-large_default/petrus-1960-magnum.jpg" class="card-img-top reduced" style="border-radius: 15px;">
  <div class="card-body">
    <h5 class="card-title" style="background-color: white; color: red; text-align: center; padding: 10px;"><%= @wine.name %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Année: <%= @wine.year %></li>
    <li class="list-group-item">Appellation: <%= @wine.appellation %></li>
    <li class="list-group-item">Note: <%= @wine.rating %>/5</li>
  </ul>
</div>
