<h1>Pages#home</h1>

<div class = "container container-booking ">
  <div class = "row">
    <div class = "col-md-6 d-flex flex-column align-items-center">
      <div class="card card-body mb-3" style="max-width: 540px;">
        <div class="row g-0 ">
          <div class="col-md-4">
            <%= image_tag "logo.png"%>
          </div>
        </div>
      </div>
    </div>
    <div class = col-md-6 >
            <div class="card-body">
              <h3 class="card-title">Êtes-vous majeur ?</h3>
              <div>
             <%# <%= link_to: 'Oui', chatroom_path(create), class: 'btn btn-primary btn-show col-md-6' %>
             <%= simple_form_for @chatroom do |f| %>
              <%= f.submit "Oui", class: "btn-primary btn-show col-md-6" %>
             <% end %>

              <a class="btn-primary btn-show col-md-6" href="https://www.gammvert.fr/conseils/conseils-de-jardinage/jus-de-raisin-maison">Non</a>
              </div>
            </div>
    </div>
  </div>

</div>
