.btn {
  border-radius: 10px;
  width: 100%;
  text-transform: uppercase;
}

.btn:hover{
  background-color: $white;
  color: $red;
  text-transform: uppercase;
}

.btn-show {
  width: 40%;
}

.btn-wine {
  width: 100%;
  font-size: 12px;
}

.btn-door {
  width: 30%;
  font-size: 28px;
  background-color: #dca6a623;
  color: $white;
  font-family: 'Lobster';
  margin-top: 400px;
  margin-left: 492px;
  text-transform: uppercase;
  border: 5px;
  box-shadow: 5px;
}

.btn-door:hover{
  background-color: $white;
  color: $red;
  text-transform: uppercase;
  font-family: 'Lobster';
}


.btn-valid {
  height: 55px;
  width: 18%;
  background-color: $red;
  color: $white;
  font-family: 'Lobster';
  border:  black;
  border-radius: 5px;
  font-size: 18px;
}
.btn-valid:hover {
  background-color: $white;
  color: $red;
  font-family: 'Lobster';
  border-radius: 5px;
}
