.btn {
  border-radius: 10px;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Lobster';
}

.btn:hover{
  background-color: $white;
  color: $red;
  text-transform: uppercase;
}

.btn-show {
  width: 40%;
}

.btn-wine {
  width: 100%;
  font-size: 12px;
}

.btn-door {
  width: 30%;
  font-size: 28px;
  background-color: #dca6a623;
  color: $white;
  font-family: 'Lobster';
  // margin-top: 400px;
  // margin-left: 492px;
  text-transform: uppercase;
  border: 5px;
  box-shadow: 5px;
  position: absolute;
  top: 50%; /* Placez le bouton à 50% du haut de son conteneur parent */
  left: 50%; /* Placez le bouton à 50% de la gauche de son conteneur parent */
  transform: translate(-50%, -50%); /* Utilisez transform pour le centrer parfaitement */
  z-index: 1;
}

.btn-door:hover{
  background-color: $white;
  color: $red;
  text-transform: uppercase;
  font-family: 'Lobster';
}

.btn-valid {
  height: 55px;
  width: 18%;
  background-color: $red;
  color: $white;
  font-family: 'Lobster';
  border:  black;
  border-radius: 5px;
  font-size: 18px;
}

.btn-valid:hover {
  background-color: $white;
  color: $red;
  font-family: 'Lobster';
  border-radius: 5px;
}

.btn-modal {
  width: 50%;
  font-size: 14px;
}

.btn-pref {
  width: 18% !important;
  font-size: 18px !important;
  margin: auto;
}

.btn-pref:hover {
  background-color: $white;
  color: $red;
  font-family: 'Lobster';
}
