.btn {
  border-radius: 10px;
  width: 100%;
  text-transform: uppercase;
}

.btn:hover{
  background-color: $white;
  color: $red;
  text-transform: uppercase;
}

.btn-show {
  width: 40%;
}

.btn-wine {
  width: 100%;
  font-size: 12px;
}
