.card {
  border-radius: 10px !important;
}

/* ATTENTION .card-wine est pour l'index de wine */
.card-wine {
  border: 1px solid #000439;
  border-radius: 10px !important;
  box-shadow: 5px 10px 20px rgba(161, 0, 0, 0.7);
  height: 100%;
  // padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

/* ATTENTION .card-display est pour l'index de wine */
.card-display {
  min-height: 430px;
  min-width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.card-body {
  height: 100%;
  font-size: 20px;
  padding-bottom: 25px
}

/* Style pour les images de fond des cartes */
.card-bg-image img {
  border-radius: 10px;
  height: 150px;
  width: 200px;
  object-fit: cover;
  border: 1px solid rgba(161, 0, 0, 0.5);
  border-radius: 10px !important;
}

.card-offer {
  background-color: white;
  padding: 10px;
  width: 300px;
  min-height: 830px;
  color: black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(161, 0, 0, 0.5);
}

.card-offer-booking {
  background-color: white;
  padding: 10px;
  width: 100%;
  color: black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(161, 0, 0, 0.5);
}

.offer-card-img {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(161, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 5px;
}

.offer-booking-img {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(161, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 5px;
}

.card-title {
  color: $red;
  font-family: 'Lobster';
  font-size: 24px;
}

.card-title-offer {
  color: $red;
  font-family: 'Lobster';
  text-align: center;
  font-size: 24px;
  max-height: 40px;
}


.card-title-home {
  color: $red;
  font-family: 'Lobster';
  font-size: 28px;
}

.lign {
  border-bottom: 1px solid $red;
  width: 150px;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.5);
}

.lign-center {
  border-bottom: 3px solid $red;
  width: 350px;
}

.card-text {
  font-size: 16px;
  text-align: left;
  margin-left: 5px;
}
