.card {
  border: 1px solid #000439;
  border-radius: 15px !important;
  box-shadow: 5px 10px 20px rgba(161, 0, 0, 0.7);
  height: 400px;
  padding-bottom: 25px;
}

.card-display {
  height: 500px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;

}

.card-body {
  height: 100%;
  font-size: 12px;
  padding-bottom: 25px
}

/* Style pour les images de fond des cartes */
.card-bg-image {
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  max-height: 150px;
  max-width: 260px;
}


.card-title {
  color: $red;
  font-family: 'Lobster';
  font-size: 20px;
}

.ligne {
  border-bottom: 1px solid $red;
  width: 150px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}
