.footer {
  background:  #000439;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 0px 50px;
}

p {
  margin: 0;
  font-size: 12px;
  padding: 0px 10px;
  align-items: center;
}

.footer-links {
  display: flex;
  align-items: center;
  color: white;
}

.footer-links a {
  color: white;
  opacity: 0.2;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
