.footer {
  background: $red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  color: $white;
  font-size: 16px;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $white;
  opacity: 0.75;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
