.navbar-lewagon {
  justify-content: space-between;
  background: $red;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .profile_picture {
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  background-color: #A10000;
  color: white;
}

.nav-item a {
  color: white;
}

.title-navbar {
  color: white;
  margin:0% !important;
}

.nav-link {
  &:hover {
    color: whitesmoke !important;
  }
}

.dropdown-menu p {
  color: white;
  animation: fireworks 2s ;
}
