<div class="container py-3">
  <div class="row card-display pt-2">
    <% @wines.each_with_index do |wine, index| %>
      <% if index < 4 %>
        <div class="col-lg-3 col-md-5 pb-4">
          <div class="card border rounded position-relative">
            <div class="mx-auto"><%= image_tag "chateaumargeau.png", class: 'card-bg-image mt-4' %></div>
              <div class="card-body d-flex flex-column align-items-center gap-3">
                <div>
                  <h4 class="card-title"><%= wine.name %></h4>
                  <div class="ligne">
                  </div>
                  <div class="card-text pt-2 pb-2">
                    <p class="card-text"><%= truncate(wine.description, length: 130, omission: '...') %></p>
                  </div>
                  <a class="btn btn-primary btn-wine col-md-6" href="#">En savoir plus</a>
                  <%# <p ><strong> Appellation :</strong> <%= wine.appellation %></p>
                  <a class="btn btn-primary btn-wine col-md-6" href="#">Ajouter à mes préférences</a>
                  <%#= link_to 'Détail wine', wine_path(@wine), class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
