<h1 class='text-center pt-5 pb-5'>Notre selection de vins</h1>


<div class = "container container-booking ">
  <div class = "row">
    <div class = "col-md-6 d-flex flex-column align-items-center">
    <%= render 'wine_card' %>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div class="card-body text-center">

    </div>
  </div>
</div>
