<div class="footer fixed-bottom">
    <p> Impressionez vos proches avec un vin parfait pour l'occasion !</p>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
